body {
    padding: 0;
    margin: 0;
    bottom: 0;
}

#container {
    height: 500px;
    padding-top: 75px;
}


#item {
    height: 300px;
}


#footer {
    height: 300px;
    bottom: 0;
}

#title {
    font-family: 'Mali', cursive;
    font-size: 3em;
}
